/**/*.key
/**/*.crt
/**/*.pem
/**/*.pem-chain
/**/*.ca.pem
/**/.DS_Store

bookcars-db/
compose-prod.yml
compose-dev.yml
backup.sh

venv/
import_data.py
sample-data.csv
requirements.txt
dummy_avatar.jpg
dummy_car.jpg