div.booking {
  display: flex;
  flex-flow: row wrap;
  padding: 24px;
}









/* Device width is less than or equal to 960px */
@media only screen and (width <=960px) {
  div.booking {
    padding: 20px;
  }
}


/* Device width is greater than or equal to 960px */
@media only screen and (width >=960px) {
  div.booking div.col-1 {
    padding: 25px;
    flex: 0 1 30%;
  }

  div.booking div.col-2 {
    flex: 1;
  }
  
}
