.user-form {
  padding: 0 20px;
  max-width: 550px;
  margin: 0 auto;
}

.user-form-wrapper {
  margin: 32px 0;
  padding: 10px 30px;
}

.user-form-title {
  text-align: center;
  text-transform: capitalize;
  color: #121212;
  margin-bottom: 25px;
}

.driver-license-field {
  margin-top: 15px;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.6);
}

.buttons {
  margin-top: 25px;
}

.btn-margin-bottom {
  margin-right: 10px !important;
}
