div.driver-documents {
  width: 100%;
}

div.document-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

div.document-upload .filename {
  flex-grow: 1;
}

div.document-upload .actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.document-upload .action-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

div.document-upload .icon {
  font-size: 1.2rem;
}

@media only screen and (max-width: 960px) {
  div.document-upload .filename {
    width: 210px;
  }

  .driver-documents .MuiBox-root {
    grid-template-columns: 1fr;
  }
}

.ReactCrop__crop-selection {
  border: 2px solid #0696c1;
}

.ReactCrop__drag-handle::after {
  background: #0696c1;
}

.ReactCrop__drag-handle {
  border: 2px solid #0696c1;
}