div.driver-documents {
  width: 100%;
}

div.document-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

div.document-upload .filename {
  width: 100%;
  margin-right: 5px;
  color: #666;
}

div.document-upload div.actions {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 960px) {
  div.document-upload .filename {
    width: 210px;
  }

  .driver-documents .MuiBox-root {
    grid-template-columns: 1fr;
  }
}

.ReactCrop__crop-selection {
  border: 2px solid #0696c1;
}

.ReactCrop__drag-handle::after {
  background: #0696c1;
}

.ReactCrop__drag-handle {
  border: 2px solid #0696c1;
}