.signature-upload {
  width: 100%;
}

.signature-input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.signature-input .filename {
  flex-grow: 1;
  cursor: pointer;
  color: #666;
}

.signature-input .actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signature-input .action-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signature-input .icon {
  font-size: 1.2rem;
}

.ReactCrop__image {
  max-height: 400px;
  object-fit: contain;
} 