# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.DS_Store?
.env
.env.local
.env.dev
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local
.env.docker

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo
vite.config.d.ts
vite.config.js

# iOS specific
ios/App/Pods
ios/App/App/public
ios/App/build
ios/DerivedData
ios/App.xcarchive
ios/App.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
xcuserdata/
*.moved-aside
*.mobileprovision
*.ipa
*.dSYM.zip
*.dSYM

# Android specific
android/app/build/
android/build/
android/app/release/
android/captures/
android/local.properties
android/.gradle/
android/.idea/
*.apk
*.aab
*.iml
.gradle/
.idea/

*.pbxproj
*.lock
